* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
 
/* body { */
    
body{
    font-family:Arial, Helvetica, sans-serif;
    /* background: linear-gradient(to top, white, #42BFDD 50%); */
    /* background-color: #508692; */
}

/* HEADER */
.small-navbar{
    background-color: #BBE6E4;
    padding: 10px;
}
.small-navbar ul, .navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.small-navbar i{
    margin-right: 0.5rem;
}
.small-navbar li{
    margin: 0 2rem;
}
.small-navbar a{
    text-decoration: none;
    color: black;
}

.navbar{
    /* background-color: #084B83; */
    background:#327f92;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem;
    height: 1vh;
}
.navbar li{
    margin-left: 1.5rem;
    padding: 0.5rem; 
}

.navbar li:nth-child(-n+5){
    background: linear-gradient(to left, #327f92 50%, #BBE6E4 50%) right;
    background-size: 220%;
    transition: .5s ease-out;
    /* border: 1px solid #42BFDD; */
}

.navbar a{
    text-decoration: none;
    color: white;
}
.navbar li:hover{
    /* background: #42BFDD; */
    padding: 0.5rem;
    border-radius: 0.3rem;
    background-position: left;
}
.navbar button{
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #2FC86C;
    border: none;
    margin-right: 2rem;
}
.mobile-button{
    display: none;
}
.mobile {
    display: none;
}
.user-box i{
    background: #BBE6E4;
    padding: 0.5rem;
    border-radius: 100%;
    cursor: pointer;
}
.user-box button{
    cursor: pointer;
}

 

 
.intro-section {
    background: url("") no-repeat center center/cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 24px;
}
 
.intro-section h2 {
    background-color: rgba(99, 149, 168, 0.7);
    padding: 10px 20px;
    border-radius: 5px;
}
 /* About Us Section */


 .heading-center
.about-us {
    padding: 20px;
    background-color: #1aeaf1;
}
 
.about-us h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size:50px;
}
   
.aboutUsContent{
    background: url(/media/Backgroundimage.png);
    
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;
    display: flex;
    align-items: center;
}
.aboutUsHeader{
    background-color: rgba(255, 255, 255, 0.4);
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    
}
.aboutUsHeader h2{
    margin-left: 20px;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.aboutUsDetails{
    margin-left: 8rem;
   display: flex;
    background-image: url("/media/book.jpg");
    background-size: cover;
    background-size: contain;
    background-position: right;
    align-items: center;
    /* background-repeat: no-repeat; */
    height: 50vh;
    background-size: auto;
    
   
}
.aboutUsDetails img{
    width: 320px;
    height: 300px;
}
.aboutUsInfo{
    width: 750px;
    height: 210px;
    padding: 30px;
    background-color:white;
    /* background-color: rgb(233, 244, 245); */
    font-style: italic;
    font-size: large;
    padding-top: 0%;
    

    
    
    
    
}
.aboutUsInfo h3{

    margin-bottom: 20px;
    font-weight: bold;
    color: #084B83;
    font-size: 3em;
}
.line{
    width: 300px;
    height: 2px;
    background-color: #000;
    margin: 20px auto;
    margin-left: 0rem;
}
/*Our Story section*/
.our-story{
    
padding: 50px;



}

.our-story h4{
    margin-bottom: 20px;
    font-weight:bold;
    color: #084B83;
    font-size: 3em;
    font-style: italic;
    margin-left: 30rem;
    /* font-family: serif; */
    
    
}
.message{
font-size: 1.5em;
font-style: italic;
font-family: cursive;
color: rgb(27, 80, 94);
margin-left: 25rem;

}
.story{
margin-left: 15rem;
width: 950px;
height: 120px;
font-style: italic;
background-color:whitesmoke;
color: #084B83;

font-weight: bold;

}
.storyImage{

height: 30vh;
background-size: cover;
opacity: 0.5;
width: 1000px;

}
.line2{

    width: 380px;
    height: 2px;
    background-color: #000;
    margin: 20px auto;
    margin-left: 30rem;
}



/* Our Doctors Section */
.our-doctors {
    padding: 20px;
    border-radius: 10px;
    background-color:#BBE6E4;
   font-size: medium;
}

.heading-center{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}
 

 
.doctor-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
 
.doctor {
    margin: 0 10px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    
}
 
.doctor img {
    width: 200px;
    height: 300px;
    border-radius: 20px;
    margin-bottom: 10px;
    object-fit: cover;
    padding: 20px;
    box-sizing: border-box;
    

}


 
/* Development Team Section */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}
 
.team-section {
    text-align: center;
    padding-bottom:1.5rem;
}
.profileImage{
    width: 150px;
    height: 150px;
    /* background-color: white; */
    border-radius: 100%;
}

 
.team-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    /* width: 300px; */
    /* height: 300px; */
    
}
 
.team-member {
    background-color:  #BBE6E4;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
 
.avatar {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 0 auto 10px;
    object-fit: cover;
    justify-content: center; 
    border:2px solid #000;
    

    
}
 
.name {
    margin-top: 1.5rem;
    font-weight: bold;
    font-size: 15px;
}
 
.quote {
    font-style: italic;
    margin: 10px 0;
}
 
.social-icons {
    margin-top: 10px;
    
}
 
.social-icons a {
    margin: 0 5px;
    display: inline-block;
    

}
 
.social-icons img {
    width: 20px;
    height: 20px;
    
    
    
}
 
/* Footer */
footer{
    /* background-color: #084B83; */
    height: 32vh;
    display: flex;
    color: white;
}
footer .footer-img{
    width: 30vw;
    background: url("/media/hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
footer .footer-img h5{
    margin-top: 0.5rem;
    padding: 0.5rem;
    background-color: rgb(255, 255, 255, 0.8);
    color: #2c2c2c;
    border-radius: 5px;
}
.footer-socials{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    list-style: none;
}
.footer-socials li{
    margin-right: 1rem;
    font-size: 1.5rem;
}
footer .footer_list-box{
    width: 70vw;
    background-color: #327f92;
    /* background: linear-gradient(to top, #327f92 , #084B83 50% ); */

    padding: 1rem 5rem;
}
.footer_list-box h5{
    text-align: center;
    font-size: 1rem;
}
.footer_list-box i{
    margin-right: 0.5rem;
}
.footer_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_list li{
    list-style: none;
    line-height: 1.4rem;
}
.footer-text {
    border-top: 1px solid white;
    padding-top: 10px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}