
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', Helvetica, sans-serif;
    background-color: hsla(181, 24%, 65%, 0.5);
}


.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.forgot-password-box {
    background-color: rgba(174, 182, 184, 0.027);
    border-radius: 15px;
    padding: 30px;
    width: 50%;
    box-shadow: 0 10px 20px rgba(24, 17, 17, 0.479);
    text-align: center;
}


h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}


p {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

strong {
    color: #007B7F;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}
