*{
  margin: 0;
}
body{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #BBE6E4;
      font-family: Arial, Helvetica, sans-serif;

}
.main-logo{
  padding: 12px;
  width: 30vw;
  height: 75vh;
  margin-top: 7%;
  background:linear-gradient( to top, rgba(16, 129, 133, 0.342), white );
  border: 2px solid #9dc0cc77;
  border-radius: 4px;
  border-right: 0px;
}
#main-logo{
  padding: 12px;
  width: 35vw;
  height: 75vh;
  margin-top: 7%;
  background-image: url(../media/forevercare-logowhite.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(2);
  border: 2px solid #55849477;
  border-radius: 4px;
  border-left: 0px;
}

input[type=text]{
    padding: 10px 10px;
    margin: 5px 0;
    display:flex;
    border: 2px solid #1f7f9177;
    border-radius: 4px;
  }
  input[type=email]{
    padding: 10px 10px;
    margin: 5px 0;
    display:flex;
    border: 2px solid #1f7f9177;
    border-radius: 4px;
  }

 .log_in{
  display: flex;
  align-items: center;
  justify-content: center;
 }

  h1{
    text-align: center;
  }

  label{
    text-align:center;
  }

  span{
    display:inline-block;
    align-items: center;
    justify-content: center;
  }
  
  input[type=password]{
    display:flex;
    align-items: center;
    justify-content: center; 
    padding: 10px 10px;
    margin: 5px 0;
    display:flex;
    border: 2px solid #1f7f9177;
    border-radius: 4px;

  }
  input[type=number]{
    display:flex;
    align-items: center;
    justify-content: center; 
    padding: 10px 10px;
    margin: 5px 0;
    display:flex;
    border: 2px solid #1f7f9177;
    border-radius: 4px;

  }

p{
  text-align: center;
  align-items: center;
  justify-content: center;
  
}

button {
  display:grid;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: 3px solid #1f7f9177;
  border-radius: 5px;
  margin: auto;
}

.sign-up-link{
  color: aqua;
  text-decoration: none;
  font-weight: 700;
}
.password{
  font-size:12px;
  align-items: first baseline; 
  margin-top: -5px;
}

input:focus {
  outline: none;
}

.log_in {
display: flex;
align-items: center;
margin-bottom: 10px;
}

.log_in input[type="checkbox"] {
margin-right: 20px;
transform: scale(1.2); 
cursor: pointer;
}

.terms-label {
font-size: 14px;
color: #bb2626; 
}

p {
font-size: 11px;
color: #333; 
font-size: medium;
}

.sign-up-link {
color: #007bff; 
text-decoration: none;
font-size: medium;
}

.sign-up-link:hover {
text-decoration: underline;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
  -webkit-appearance: none;
}

@media screen and (max-width:887px) {

.main-logo {
width: 100vw;
height: 90vh;
}

#main-logo {

  display: none;
}
}